<% @title = "Edit Transaction" %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h1>Editing transaction</h1>
  </div>

  <%= render 'form' %>
</div>

<ul class="nav nav-pills navbar-right">
  <li><%= link_to 'Back', :back %></li>
</ul>